a<html>
<head>
	<title>Goatinder</title>
		<meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="tinder.css"/>
    <link href= "https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  	<link href= "https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  	</head>
  <body>

    <div id="wrapper">
    	<div id="header-wrapper">
    		<div id="header" class="container">
    			<div id="logo">
    				<h1><a href="#">TinGo</a></h1>
    			</div>
    			<div id="menu">
    				<ul>
    					<li><a href="#">Chat</a></li>
    					<li><a href="#">Log Out</a></li>

<!-- <h2>Sign up</h2> -->
